Source: ros-lunar-collada-parser
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libcollada-dom2.4-dp-dev, liburdfdom-headers-dev, ros-lunar-catkin, ros-lunar-class-loader, ros-lunar-roscpp, ros-lunar-urdf, ros-lunar-urdf-parser-plugin
Homepage: http://ros.org/wiki/collada_parser
Standards-Version: 3.9.2

Package: ros-lunar-collada-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcollada-dom2.4-dp-dev, liburdfdom-headers-dev, ros-lunar-class-loader, ros-lunar-roscpp, ros-lunar-urdf-parser-plugin
Description: This package contains a C++ parser for the Collada robot description format.
 The parser reads a Collada XML robot description, and creates a C++ URDF model. Although it is possible to directly use this parser when working with Collada robot descriptions, the preferred user API is found in the urdf package.
