Source: ros-jade-collada-urdf
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), collada-dom-dev, libassimp-dev, liburdfdom-dev, liburdfdom-headers-dev, ros-jade-angles, ros-jade-catkin (>= 0.5.68), ros-jade-cmake-modules, ros-jade-collada-parser, ros-jade-geometric-shapes, ros-jade-resource-retriever, ros-jade-roscpp, ros-jade-tf, ros-jade-urdf
Homepage: http://ros.org/wiki/collada_urdf
Standards-Version: 3.9.2

Package: ros-jade-collada-urdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, collada-dom-dev, libassimp-dev, liburdfdom-dev, liburdfdom-headers-dev, ros-jade-angles, ros-jade-collada-parser, ros-jade-geometric-shapes, ros-jade-resource-retriever, ros-jade-roscpp, ros-jade-tf, ros-jade-urdf
Description: This package contains a tool to convert Unified Robot Description Format (URDF) documents into COLLAborative Design Activity (COLLADA) documents.
 Implements robot-specific COLLADA extensions as defined by http://openrave.programmingvision.com/index.php/Started:COLLADA
